<div class="row">
				<div class="col-md-12 friend_link">
					<ul>
						<li><a href="http://blog.maskerphp.cc" target="_blank">黑与白的世界</a></li>
						<li><a href="http://caosen.oschina.io/" target="_blank">曹森博客</a></li>
						<li><a href="http://www.forlevin.top/" target="_blank">一种心安 - 无实而享大名者必有其祸</a></li>
						<li><a href="http://www.kexueren.com.cn" target="_blank">科学人</a></li>
					</ul>
				</div>
	</div>  
	<div class="row">
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261747021'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261747021%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>  
			<div class="row">
				<div class="col-md-12 copyright">
					<p>Copyright © 张超个人技术博客 保留所有权利.   黔ICP备15002534号-4</p>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				new WOW().init();
			});
			
		</script>
	</body>
	<script type='text/javascript' color='0,255,0' zIndex='-1' opacity='1' count='99' src='//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js'></script>
</html>