<include file="Public/header" />
	<!-- /头部 -->
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input class="searchinput" type="text">
                    <i class="searchicon fa fa-search"></i>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
               <include file="Public/sidebar" />
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                    	<li class="active">控制面板</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                	<ul class="timeline">
                        <li class="timeline-node">
                            <a class="btn btn-palegreen">NOW</a>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">
                                    2017/04/11 8:47
                                </span>
                            </div>
                            <div class="timeline-badge blue">
                                <i class="glyphicon glyphicon-off"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header bordered-bottom bordered-blue">
                                </div>
                                <div class="timeline-body text-center">
                                    <p>完成文章编辑和删除</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">
                                    2017/03/16 8:19
                                </span>
                            </div>
                            <div class="timeline-badge blue">
                                <i class="glyphicon glyphicon-off"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header bordered-bottom bordered-blue">
                                </div>
                                <div class="timeline-body text-center">
                                    <p>ajax登录验证 完成50%</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">
                                    8:19
                                </span>
                            </div>
                            <div class="timeline-badge blue">
                                <i class="fa fa-tag"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header bordered-bottom bordered-blue">
                                </div>
                                <div class="timeline-body text-center">
                                    <p>后台模板分离</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-datetime">
                                <span class="timeline-time">
                                   3月14日
                                </span>
                            </div>
                            <div class="timeline-badge">
                                <i class="fa fa-map-marker font-120" style="color: red;"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                	确定后台UI界面
                                </div>
                            </div>
                        </li>
                        <li class="timeline-node">
                            <a class="btn btn-info">2017年3月</a>
                        </li>
                    </ul>
                </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>
<include file="Public/footer" />