<include file="Public/header" />
	<!-- /头部 -->
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input class="searchinput" type="text">
                    <i class="searchicon fa fa-search"></i>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
               <include file="Public/sidebar" />
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                    	<li class="active">控制面板</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                	<div class="widget">
                        <div class="widget-header">
                            <i class="widget-icon fa fa-check"></i>
                            <span class="widget-caption">Default Widget</span>
                            <div class="widget-buttons">
                                <a href="#" data-toggle="config">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="#" data-toggle="maximize">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#" data-toggle="collapse">
                                    <i class="fa fa-minus"></i>
                                </a>
                                <a href="#" data-toggle="dispose">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div><!--Widget Buttons-->
                        </div><!--Widget Header-->
                        <div class="widget-body">
                            <p>
                                Without any change in default mark-up.
                            </p>
                        </div><!--Widget Body-->
                    </div>
                </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>
<include file="Public/footer" />