{:W('Public/header')}
<!--content start-->
		<div class="container">
			<div class="row" style="margin-top: 10px;">
				<div class="jumbotron text-center head_jumbotron">
				  <h1>哥的代码，论斤算!</h1>
				  <p>当坚持不下去的时候，坚持下去就是了！</p>
				  <p>
				  	<img class="head" src="__PUBLIC__/home/img/x08-1.jpg" />
				  </p>
				</div>
			</div>
			<!-- <div class="row">
			  <div class="col-sm-6 col-md-4 wow bounceInDown" data-wow-duration="2s">
			    <div class="thumbnail">
			      <div class="caption">
			        <h3 style="margin: 0px; padding: 0px; margin-bottom: 10px;">Self introduction</h3>
			        <p>张超：1996-08-09</p>
			        <p>热爱编程，对新技术有着较高的渴望和追求，并且能快速适应新技术的开发，希望能在未来3年内成为独挡一面的PHP高级开发工程师</p>
			        <p>2014-06&nbsp;&nbsp;&nbsp;初中毕业</p>
			        <p>2015-01&nbsp;&nbsp;&nbsp;水城县职校（计算机应用专业）</p>
			        <p>2016-01&nbsp;&nbsp;&nbsp;成考（贵州师范大学）</p>
			      </div>
			    </div>
		  </div>
		  <div class="col-sm-6 col-md-4 wow swing">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3 style="margin: 0px; padding: 0px; margin-bottom: 10px;">I will</h3>
		        <p>在互联网行业摸爬滚打3年，工作1年。写代码有洁癖（喜欢自己写的风格），所会的技能：PHP，Mysql，Sqlserver，ThinkPHP，以及简单的前端技能！</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4 wow bounceInDown" data-wow-duration="2s">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3 style="margin: 0px; padding: 0px; margin-bottom: 10px;">Work Time</h3>
		        <p>
		        	<p>时间：2016-初  至  2016-8月</p>     
					<p>公司：贵州合锐科技有限责任公司</p>
					<p>职务：前端开发</p>
					<p>部门：开发部</p>
		        </p>
		        <div style="border-bottom: 1px solid #ddd;"></div>
		        <p>
		        	<p>时间：2017-初  至  2016-3月</p>     
					<p>公司：贵州新西南教育发展有限公司，贵州金符教育科技有限公司</p>
					<p>职务：前后端开发</p>
					<p>部门：技术部</p>
		        </p>
		        
		      </div>
		    </div>
		  </div>
		</div> -->
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header text-center" style="margin: 0px; padding: 0px;">
				  <h2>部分开发案例&nbsp;<small>Case</small></h2>
				</div><br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="page-header" style="margin: 0px; padding: 0px; margin-bottom: 10px;">
					  <h2>个人项目<small>Subtext for header</small></h2>
					</div>
					<div class="col-sm-4 wow rollIn" data-wow-delay="1s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">大学生表白网</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://www.52bbw.cn/</p>
						    <p> <a href="http://www.52bbw.cn/">点击进入</a></p>
						  </div>
						</div>
					</div>
					<div class="col-sm-4 wow bounceInDown" data-wow-delay="2s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">阿超礼物网</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://shop.zhangchao.name/</p>
						    <p> <a href="http://shop.zhangchao.name/">点击进入</a></p>
						  </div>
						</div>
					</div>
					<div class="col-sm-4 wow lightSpeedIn" data-wow-delay="3s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">个人博客</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://www.zhangchao.name/</p>
						    <p> <a href="http://www.zhangchao.name/">点击进入</a></p>
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="page-header" style="margin: 0px; padding: 0px; margin-bottom: 10px;">
					  <h2>公司项目<small>Subtext for header</small></h2>
					</div>
					<div class="col-sm-4 wow swing" data-wow-delay="4s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">金符育才网（题库）</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://www.jfycw.com/</p>
						    <p> <a href="http://www.jfycw.com/">点击进入</a></p>
						  </div>
						</div>
					</div>
					<div class="col-sm-4 wow flipInX" data-wow-delay="3s" data-wow-duration="5s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">新西南教育（题库）</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://tiku.gwypxw.com/</p>
						    <p> <a href="http://tiku.gwypxw.com/">点击进入</a></p>
						  </div>
						</div>
					</div>
					<div class="col-sm-4 wow shake" data-wow-delay="5s" data-wow-delay="3s">
						<div class="media">
						  <div class="media-left media-middle">
						    <a href="#">
						      <img class="media-object" src="__PUBLIC__/home/img/x08-1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">新西南教育（职位筛选）</h4>
						    <p>项目地址：</p>
						    <p class="h6">http://2017.gwypxw.com/</p>
						    <p> <a href="http://2017.gwypxw.com/">点击进入</a></p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-bottom: 20px;"></div>
			<!--底部-->
<include file="Public/footer" />